<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>START ROOM SHOW</title>
    <link rel="stylesheet" href="./css/css.css">
</head>
<body>
    <main>
        <div class="container">
            <h1 style="text-align: center;">SchoolBac <br> Streaming Data Tool</h1>
            <form action="/login" method="POST">
                <input type="text" placeholder="Authentifiez-vous au Système" name="username" id="username">
                <input type="submit" value="Accedez à votre compte">
            </form>
        </div>
    </main>
</body>
</html>